
@{
    ViewBag.Title = "AfisareMasinaCautata";
}

<h2>AfisareMasinaCautata</h2>

<div>
    <fieldset>
        <label>Marca</label>
        <input id="Text1" type="text" />
        <label>Model</label>
        <input id="Text1" type="text" />
        <label>An</label>
        <input id="Text1" type="text" />
        <label>Pret</label>
        <input id="Text1" type="text" />
        <input type="submit" value="cautare" />
    </fieldset>
</div>