
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>
<input type="button" value="Cauta masina" name="cautaMasina"  formaction='@Url.Action("CautaMasina")' /> <br />

<input type="button" value="Vizualizeaza vanzari" name="seeVanzari" /><br />

<input type="button" value="Aprobare inregistrare" name="aprobare" /><br />
<input type="button" value="Vizualizare lista masini" name="seeMasini" /><br />
<input type="button" value="Adaugare masina" name="addMasina" /><br />
<input type="button" value="Editare masina" name="editMasina" /><br />
<input type="button" value="Stergere masina" name="deleteMasina" /><br />
<input type="button" value="Vizualizare rapoarte" name="seeReports" />

